<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Editar nota
    </title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navigation') %>


        <div class="container">
            <div class="row my-5">
                <!--FORM-->
                <div class="col-md-5 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>Editar nota:</h2>
                            <form action="/edit-n/<%= task._id %>" method="POST">
                                <!--Manda los datos del formulario-->
                                <div class="form-group">
                                    <!--le paso los datos del titulo y la descripcion que quiero editar desde node -->
                                    <input type="text" name="title" placeholder="Insertar Título" class="form-control"
                                        value="<%= task.title %>">
                                </div>
                                <div class="form-group">
                                    <textarea name="description" cols="80" class="form-control"
                                        placeholder="Insertar Descripción"><%= task.description %></textarea>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                                </div>
                            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>