<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

    <div class="container text-center">
        <div class="row my-5 d-flex justify-content-center">


            <div class="col-md-12">
                <div class="mb-2 d-flex justify-content-end">
                    <a href="/nuevo-registro" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Nuevo Registro">+ Nuevo</a>
                </div>              
            </div>

            <!--LIST-->
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Inventario</h4>
                    </div>
                </div>  

                <table class="table table-bordered table-hover table-striped table-secondary">
                    <thead>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th>Problemas</th>
                        <th>Estado</th>
                        <th>Operación</th>
                    </thead>

                    <tbody>
                        <% for(var i=0; i < inventario.length; i++) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= inventario[i].nombre %></td>
                                <td><%= inventario[i].marca %></td>
                                <td><%= inventario[i].precio %></td>
                                <td><%= inventario[i].problemas %></td>
                                <td>
                                    <a href="/turn-inv/<%= inventario[i]._id %>" class="btn  btn-sm  <%= inventario[i].status ? 'btn-success' : 'btn-danger'%>" data-toggle="tooltip" data-placement="top" title="Stock/Sin stock">Stock</a>
                                </td>
                                <td>
                                    <a href="/delete-inv/<%= inventario[i]._id %>" class="btn btn-outline-dark btn-sm" data-toggle="tooltip" data-placement="top" title="Borrar"><i class="fas fa-trash"></i></a>
                                    <a href="/edit-inv/<%= inventario[i]._id %>" class="btn btn-outline-info btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fas fa-edit"></i></a>
                                </td>
                            </tr>

                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>