<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menu </title>
    <link rel="stylesheet" href="../public/css/menu.css">
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/navigation') %>

        <div class="container">
            <div class="row my-5">
                <!--FORM-->
                <div class="col-md-5 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <form action="/edit-m/<%= comida._id %>" method="POST">
                                <!--Manda los datos del formulario-->
                                <h3>Editar Menú:</h3>

                                <div class="form-group">
                                    <!--le paso los datos del titulo y la descripcion que quiero editar desde node -->
                                    <input type="text" name="nombre" placeholder="Nombre" class="form-control"
                                        value="<%= comida.nombre %>">
                                </div>

                                <div class="form-group">
                                    <input type="number" name="precio" placeholder="Precio" class="form-control"
                                        value="<%= comida.precio %>">
                                </div>

                                <div class="form-group">

                                    <input type="radio" name="tipo" id="pasta" value="Pasta">
                                    <label for="pasta">Pasta</label> <br>
                                    <input type="radio" name="tipo" id="bebida" value="Bebida">
                                    <label for="bebida">Bebida</label> <br>

                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>